body {
    background-color: #f8f8fe;
font-family: sans-serif;
margin-top: 5%;
margin-left: 10%;
margin-right: 10%;
}

header {
display: flex;
justify-content: space-between;
align-items: baseline;
}

header>h1 {
margin: 0;
}